<h3><%= @sub.title %></h3>



<p>
<%= @sub.description %>
</p>

<ul>
  <% @sub.posts.each do |post| %>
  <li> <%= link_to post.title, post_url(post) %> </li>
  <% end %>
</ul>

<%= link_to "Edit Sub", edit_sub_url %>
<br>
<%= link_to "Back to All Subs", subs_url %>
